<div class="bg-gray-200 h-screen">
    <div class="flex flex-wrap align-items-center justify-content-center card-container yellow-container">
        <div class="grid p-4">
            <div class="col-12 md:col-12 lg:col-12">
                <div class="p-card text-center">
                    <h1 class="text-primary text-8xl font-bold mt-2">404</h1>
                    <h2>The page you are looking for doesn't exist.</h2>
                    <button pButton type="button" class="p-button-secondary" routerLink='/'
                        label="Back to App"></button>
                    <div>
                        <img src="assets/img/not-found.svg" class="w-5 mt-2" alt="Page Not Found">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>